<div class="w-screen h-screen">
  @if (!showResult()) {
  <div class="flex justify-center gap-2 py-4 bg-amber-400">
    @for (question of questions(); track question; let i = $index) {
    <div
      class="w-6 h-6 rounded-full flex items-center justify-center border-2"
    ></div>
    }
  </div>
  <app-quiz-question
    [question]="currentQuestion()"
    (response)="onResponse($event)"
  ></app-quiz-question>
  <button (click)="nextquestion()">Next question</button>
  } @if (showResult()) {
  <div class="md:pl-96 md:pr-96 pt-8">
    <div class="md:w-[768px] flex justify-center bg-[#e2e2e2]">
      <p>Correct answered questions {{ correctAnswers() }}</p>
    </div>
  </div>
  }
</div>
