<div class="w-screen h-screen">
  <div class="pl-96 pr-96 pt-8">
    <div
      class="w-[768px] h-96 bg-[#e2e2e2] text-black flex items-center justify-center text-2xl"
    >
      {{ question().question }}
    </div>
    <div class="grid grid-cols-2 grid-rows-2 justify-center">
      @for (question of question().answers; track question; let i = $index) {
      <button
        class="w-[384px] h-[144px] border hover:text-3xl transition-all duration-300 ease-in-out flex items-center justify-center"
        [style.backgroundColor]="colors()[i]"
        (click)="onSelect(question)"
      >
        {{ question.answer }}
      </button>
      }
      <button>Skip</button>
    </div>
  </div>
</div>
