<div class="w-full flex justify-center">
  <div class="pt-8 w-fit bg-[#e2e2e2] p-2 rounded-2xl mt-2">
    <div
      class="md:w-[768px] w-full h-52 bg-[#e2e2e2] text-black flex items-center justify-center text-2xl text-center"
    >
      <p>
        {{ question().question }}
      </p>
    </div>
    <div class="grid grid-cols-2 grid-rows-2 justify-center gap-2 pt-2">
      @for (question of question().answers; track question; let i = $index) {
      <button
        class="md:w-[384px] w-full h-24 md:h-[144px] border hover:text-xl transition-all duration-300 ease-in-out flex items-center justify-center rounded-2xl"
        (click)="onSelect(question, i)"
        [style.backgroundColor]="
          selectedIndex() === i ? '#e2e2e2' : colors()[i]
        "
      >
        {{ question.answer }}
      </button>
      }
    </div>
  </div>
</div>
